<% provide(:title, 'Privacy Policy') %> 
<h1>Privacy Policy</h1>
<br>
<h3>PinPoint aims to provide a convenient way to find information about products – to help make people informed decisions. </h3>

<br>

<h3>Pinpoint will provide a convenience for people to find all the information of their favorite products without going out and visiting individual stores. This will help them make informed decision with all the information at their disposal.
<h3>

<br>

<h3>To business owners, our Pinpoint will provide a platform where they can advertise their products for free of cost, and provide detailed information about their stock inventory of particular products</h3>

<br>
