<% provide(:title, @user.name) %>
<h1><%= @user.name %></h1>
<h2><%= @user.email %></h2>

<br></br>

<% if current_user.storeOwner? %>

<h3>Stores</h3>
<br>

			
<%= link_to "Edit User", edit_user_path(current_user), class: "btn btn-large btn-primary" %>

<% else %>
<%= link_to "Edit User", edit_user_path(current_user), class: "btn btn-large btn-primary" %>

<% end %>