


 
<div class="productPageClass" id="productPage">

  <div id="leftProduct">
    <%= link_to image_tag("LCD.png", alt: "Advertisement"), pricel_path %>
    <h1>LCDs</h1>
  </div>

  <div id="centerProduct">
    <%= link_to image_tag("Smartphone.jpg", alt: "Advertisement"), pricess_path %>
    <h1>SmartPhones</h1>
  </div>

  <div id="rightProduct">
      <%= link_to image_tag("consoles.png", alt: "Advertisement"), pricec_path %>
    <h1>Consoles</h1>

  </div>

</div>


