

<h2>Search Results</h2>

 <% @products.each do |product| %>


  <div class="compare-list">
    <% if product.category == "Smartphone" %>
    <ul>
      <li>   
        <%= image_tag product.photo.url %>
         <h3> <%= link_to product.name, product %> <% link_to product %></h3> 
       <p>Comes in <%= product.color %>. Price range (2000QRS - 4000QRS)</p><br/>   
      </li>
      </ul>
      <% end %>
  </div>

    <% end %>

